@media only screen and (max-width: 1151px) {
    .navbar-list {
        flex-direction: column;
    }

    .navbar {
        height: 477px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }

    .rightnav {
        text-align: center;
    }

    .search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 72px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .section {
        flex-direction: column-reverse;
    }

    .text-big {
        text-align: center;
    }

    .small-text {
        text-align: center;
    }

    .button {
        text-align: center;
    }

    .tag {
        padding: 0px;
    }


}